<div class="enclosing">
  <div class="controls">
    <button class="vdg-btn" (click)="subtractTime()">-</button>
    <label class="totaltimepick">{{totalMinutes}}</label>
    <button (click)="addTime()">+</button>
    <button (click)="startTimer()" *ngIf="!timerIsRunning">START</button>
    <button (click)="stopTimer()" *ngIf="!!timerIsRunning">STOP</button>
    <button (click)="continueTimer()" *ngIf="!timerIsRunning">CONTINUE</button>
    <label>{{remainingSeconds / 60 | number:'2.0-0'}} mins left</label>
    
    
  </div>
  
<div class="progress rainbow" [style.height]="calculateHeight()"></div>
<div class="background-image">
  <img class="selected-background-image" [src]="selectedBackgroundImage">
</div>
</div>