button{
    padding: .75rem;
    margin-right: 1rem;
}

.enclosing {
    height: 100vh;
    width : 100vw;
}
.totaltimepick{
    margin-right: 1rem;
    font-size: 2rem;
    line-height: 2rem;
    vertical-align: middle;
}

.selected-background-image {
    height     : 90vh;
    margin-left: 5vw;
    margin-top : 5vh;
    width      : 90vw;
    position   : absolute;
    z-index    : 111;
    top        : 0;
    left       : 0;
}

.controls {
    position: absolute;
    z-index : 9999999;
    top     : 0;
    left    : 0;
    text-align: center;
    width: 100vw;
}

.side-controls{
    position: absolute;
    z-index : 9999999;
    top     : 0;
    right    : 30px;
    text-align: center;

    input{
        height: 2rem;
        width: 2rem;
    }
}

.progress {
    position   : fixed;
    z-index    : 9999999;
    width      : 80vw;
    margin-left: 5vw;
    margin-top : 5vh;
    width      : 90vw;

    &.green {
        background-color: green;
    }

    &.yellow {
        background-color: yellow;
    }

    &.orange {
        background-color: orange;
    }

    &.red {
        background-color: red;
    }

    &.pink {
        background-color: pink;
    }

    &.rainbow{
        background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
    }
}
